[alias]
    st=status
    br=branch
    lol="log --oneline --graph --decorate"
    cdiff=diff --cached
[user]
    name=Simon Alfassa
    email=simon@sa-web.fr
[color]
    ui=auto
[merge]
   tool = meld
[push]
	default = simple
